{% extends 'base.html' %}

{% block title %}社区{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/community.css') }}">
{% endblock %}

{% block main %}
    <ul>
        <div class="question-body">
            <li>
                {#显示头像#}
                <div class="avatar-group">
                    <span class="glyphicon glyphicon-user" aria-hidden="true" class="avatar"></span>
                </div>
                <div class="qoestion-group">
                    <p class="question-title"><a href="#"></a></p>
                    <p class="question-content"></p>
                    <div class="question-info">
                        <span class="question-author">xcl</span>
                        <span class="question-time">2018-1-1-</span>
                    </div>
                </div>
            </li>
        </div>
    </ul>
{% endblock %}