{% extends 'base.html' %}

{% block title %}欢迎使用{% endblock %}
{% block head %}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/mainPage.css') }}">
{% endblock %}

{% block main %}
        <div class="jumbotron">
            <h1 class="info"><img src="/static/images/logo.png" alt="logo" class="img-circle" style="width: 80px;height: 80px;">资料分享平台<sup class="label label-success" style="font-size: small;vertical-align: super">1.0版本</sup></h1>
            <br>{% if user %}
            <p>欢迎&nbsp<span class="label label-success">{{ user.username }}</span>&nbsp使用资料分享平台</p>
            <br>{% else %}
            <p>欢迎使用资料分享平台</p>
            <p>请您先登录，获取更多内容</p>{% endif %}
            <button type="button" class="btn btn-primary" title="提示消息"
                    data-container="body" data-toggle="popover" data-placement="right"
                    data-content="更多内容资讯正在加紧制作中，敬请期待！">
                了解更多
            </button>
            <br><hr/><br>
            <!--科目类别-->
                <strong>类别:</strong>
                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        计算机 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Java</a></li>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">C/C++</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">更多</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        数学 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">离散数学</a></li>
                        <li><a href="#">高等数学</a></li>
                        <li><a href="#">线性代数</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">更多</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        经济管理 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">管理学</a></li>
                        <li><a href="#">创新创业管理</a></li>
                        <li><a href="#">经济学</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">更多</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        文学历史 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">中国古代历史</a></li>
                        <li><a href="#">美国文学</a></li>
                        <li><a href="#">近代史</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">更多</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        外语 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">大学英语</a></li>
                        <li><a href="#">大学日语</a></li>
                        <li><a href="#">英汉口译</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">更多</a></li>
                    </ul>
                </div>
            <br><br><br>
            <!--说明文档-->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                使用帮助
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p3 class="text-primary">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p3>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                技术团队
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p3 class="text-success">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p3>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                联系我们
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p3 class="text-muted">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}